In [18]:
import pandas as pd
import numpy as np
import mlxtend as mlx

In [20]:
df = pd.read_csv("data/binarized_data.csv")
df.head()

,Unnamed: 0,X67699,R70790,L11706,T90549,D17390,M33210,H18490,H40891,R77780,T49647
0,Assay0,0,0,1,1,0,0,0,0,1,1
1,Assay1,0,0,0,1,0,1,0,0,0,0
2,Assay2,0,0,0,0,0,1,1,0,0,1
3,Assay3,0,0,0,0,0,0,0,0,1,1
4,Assay4,0,0,1,1,1,1,1,1,1,1

In [21]:
np.min(df)

Unnamed: 0    Assay0
X67699             0
R70790             0
L11706             0
T90549             0
D17390             0
M33210             0
H18490             0
H40891             0
R77780             0
T49647             0
dtype: object